body {
    background-color: #fffae9;
    text-align: center;
}

#songName {
    border-radius: 8px;
    background: #ffffff;
    padding: 10px;
    width: 200px;
    height: 25px;
}

#timer {
    font-size: 40px;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center; /* Vertical centering */
}

#res{
    text-align: center;
    align-items: center;
}
.songImages{
    width: 100px;
    height: 100px;
}

#title{
    display: inline;
    text-align: center;

    height: auto; 
    width: 375px; 
}


ul {
    list-style-type: none;
  }