<!DOCTYPE html>
<html lang="en">

<head> 
    <link rel="stylesheet" href="static\styles.css">
    <link rel="stylesheet" href="static\button.css">
</head>

<body>
    <button id="startButton" onclick="startGame()">Start</button>
    <button id="restartButton" onclick="restartGame()" style="display:none">Restart</button>
    <div>
        <h2 class = 'center' style="display:none" id = 'w'> Word: <span id="word"></span></h2>
        
        <div class='container'>
            <input style="display:none" type="text" id="songName" class = 'center' placeholder="Enter song name" readonly>
        </div>
        
        <!-- <button onclick="validateSong()">Submit</button> -->
    </div>
    
    <br>

    <div class='container'>
        <div id="timer" style="display:none">01:00</div>
    </div>
    

    <script src = "{{ url_for('static', filename='enter.js') }}"></script>
    <script src="{{ url_for('static', filename='game.js') }}"></script>
    <script src="{{ url_for('static', filename='timer.js') }}"></script>
</body>
</html>