<!DOCTYPE html>
<html lang="en">

<head> 
    <link rel="stylesheet" href="static\styles.css">
</head>

<body>
    <button id="startButton" onclick="startGame()">Start</button>
    <button id="restartButton" onclick="restartGame()" style="display:none">Restart</button>
    <div>
        <h2 class = 'center'> Word: <span id="word"></span></h2>
        
        <div class='container'>
            <input type="text" id="songName" class = 'center' placeholder="Enter song name">
        </div>
        
        <!-- <button onclick="validateSong()">Submit</button> -->
    </div>
    
    <div id="timer">01:00</div>

    <script src = "{{ url_for('static', filename='enter.js') }}"></script>
    <script src="{{ url_for('static', filename='game.js') }}"></script>
    <script src="{{ url_for('static', filename='timer.js') }}"></script>
</body>
</html>