<!DOCTYPE html>
<html lang="en">

<head> 
    <link rel="stylesheet" href="static\styles.css">
    <link rel="stylesheet" href="static\button.css">
</head>

<body>
    <div><img src="{{url_for('static', filename='/Images/Ardae.png')}}", id="title"></div>
    <button id="startButton" onclick="startGame()", class = 'button'>Start</button>
    <button id="restartButton" onclick="restartGame()" style="display:none", class = 'button'>Restart</button>
    <div>
        <h2 style="display:none" id = 'word'>Word: </h2>
        
        <div class='container'>
            <input style="display:none" type="text" id="songName" class = 'center' placeholder="Enter song name" readonly>
        </div>
    </div>
    
    <br>

    <div class='container'>
        <div id="timer" style="display:none">01:00</div>
    </div>
    

    <script src = "{{ url_for('static', filename='enter.js') }}"></script>
    <script src="{{ url_for('static', filename='game.js') }}"></script>
    <script src="{{ url_for('static', filename='timer.js') }}"></script>
</body>
</html>